.Label, .Input{
  display: block;
  margin: 15px auto;
}

.Input{
  width: 100%;
  padding: 10px;
}

.Label{
  font-weight: bold;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font : inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
}

.InputElement:focus{
  outline: none;
  background-color: rgb(127, 241, 104);
}

.Invalid{
  outline: rgb(255, 0, 0) solid 1px;
  background-color: rgb(255, 110, 110);
  color: white;
}

.Invalid:focus{
  outline: rgb(255, 0, 0) solid 1px;
  background-color: rgb(255, 110, 110);
}